// COLOR SYSTEM

$asu-maroon: #8c1d40;
$asu-gold: #ffc627;
$asu-success: #446D12;
$asu-info: #00a3e0;
$asu-warning: #ff7f32;
$asu-danger: #B72A2A;

$asu-light-1: #fafafa;
$asu-light-2: #f1f1f1;
$asu-light-3: #e8e8e8;
$asu-light-4: #d0d0d0;
$asu-light-5: #bfbfbf;
$asu-dark-1: #747474;
$asu-dark-2: #484848;
$asu-dark-3: #191919;

$white: #fff !default;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
