// UnOrdered List
//
// custom class for RDS
ul.rds-list {
  list-style: none;

  li:before {
    content: "\2022";
    /* \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
  }
}

// Generate contextual modifier classes for colorizing the list item(s).
@each $color, $value in $theme-colors {
  .rds-list-#{$color} {
    li:before {
      color: var(--#{$color}, $value);
    }
  }
}

// Icons
//
// fix for FA 6 updated CSS
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  box-sizing: border-box !important;
}

// Checkboxes
//
// manual override for RDS
.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--rds-dark-3, #191919);
  border-color: var(--rds-secondary, #ffc627);
  background-color: var(--rds-secondary, #ffc627);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23191919' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23191919' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

// links
a.rds-link {
  text-decoration: underline;
}

// Header Standard
//
// b-dropdown override

.btn-dropdown-focus {
  &:focus {
    box-shadow: none;
    outline: 2px solid var(--rds-dark-3, #191919);
    border-radius: 0;
  }

  font-weight: 400;
  padding-left: 4px;
  padding-right: 4px;
}

nav.main-nav {
  .dropdown-item:hover {
    color: var(--rds-primary, #8c1d40);
    background-color: var(--rds-white, #ffffff);
    text-decoration: underline;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-text,
  .header-text .btn {
    font-size: 14px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header-text,
  .header-text .btn {
    font-size: 16px;
  }
}
// end Header Standard

a:focus {
  outline: 2px solid var(--rds-dark-3, #191919);
}

// focus class for card components
.card-focus:focus {
  outline: 2px solid #4d90fe;
  -webkit-box-shadow: 0px 0px 5px #4d90fe;
  box-shadow: 0 0 5px #4d90fe;
}

.rds-tab {
  //Active class for tabs
  .tab-active-primary {
    border-bottom: 5px solid var(--rds-primary, $asu-maroon);
    color: var(--rds-primary, $asu-maroon) !important;
  }

  .tab-active-secondary {
    border-bottom: 5px solid var(--rds-secondary, $asu-gold);
    color: var(--rds-secondary, $asu-gold) !important;
  }
}

// Buttons
.btn {
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
}

.btn:focus-visible {
  outline: 2px $black solid;
}

// Focus override
:focus-visible {
  outline: $black auto 1px;
  outline-offset: 2px;
}
