// custom
@import "../variables/_colors.scss";
@import "../variables/_space.scss";

$white: #fff;
$black: #191919;

:root {
  --box-shadow--form-default: 0 0 0 0.2rem #{$form-control-border-color};
  --box-shadow--form-danger: 0 0 0 0.2rem #{$form-control-error-border-color};
}

// Zindex

$zindex-1000: 1000;
$zindex-1020: 1020;
$zindex-1030: 1030;
$zindex-100: 100;
$zindex-90: 90;
$zindex-80: 80;
$zindex-10: 10;
$zindex-5: 5;
$zindex-1: 1;

// clean the colors and theme-colors map
$colors: map-remove(
  $colors,
  "blue",
  "indigo",
  "purple",
  "pink",
  "red",
  "orange",
  "yellow",
  "green",
  "teal",
  "cyan",
  "gray",
  "gray-dark"
);

$theme-colors: (
  "primary": $asu-maroon,
  "secondary": $asu-gold,
  "success": $asu-success,
  "info": $asu-info,
  "warning": $asu-warning,
  "danger": $asu-danger,
  "light-0": $white,
  "light-1": $asu-light-1,
  "light-2": $asu-light-2,
  "light-3": $asu-light-3,
  "light-4": $asu-light-4,
  "light-5": $asu-light-5,
  "dark-1": $asu-dark-1,
  "dark-2": $asu-dark-2,
  "secondary-100": $ug-gold-100,
  "success-100": $ug-success-100,
);

// Remove vanilla grayscale colors
$grays: map-remove(
  $grays,
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900"
);

// Body
//
// Settings for the `<body> element`.
$body-bg: $white;
$body-color: $asu-dark-3;

// Links
//
// Style anchor elements.
$link-color: $asu-maroon;
$link-hover-color: darken($asu-maroon, 15%);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
// $grid-gutter-width is defined in _spacing.scss

$grid-columns: 12;
$grid-row-columns: 6;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
// Font
$font-family-sans-serif: var(
  --rds-font-family,
  Arial,
  Helvetica,
  "Nimbus Sans L",
  "Liberation Sans",
  FreeSans,
  sans-serif
);
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

// Headings
// bootstrap overridess
$headings-margin-bottom: 0;
$headings-line-height: 1.2;
$headings-font-weight: 700;

// BORDER COLORS
$border-color: var(--light-4, $asu-light-4);

$input-border-color: var(--light-4, $asu-light-4);
$custom-select-border-color: var(--light-4, $asu-light-4);

$nav-tabs-border-color: var(--light-4, $asu-light-4);

$card-border-color: var(--light-4, $asu-light-4);
$card-border-radius: 0;

$hr-border-color: var(--light-4, $asu-light-4);

// Alerts
$alert-bg-level: -10.45;
$alert-border-level: 0;
$alert-color-level: 12.5;

// Modals
$modal-backdrop-bg: var(--dark-3, $asu-dark-3);
$modal-backdrop-opacity: 0.8;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;

$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;

$btn-font-weight: $font-weight-bold;

$btn-block-spacing-y: 2rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 50.25rem;
$btn-border-radius-lg: 50.3rem;
$btn-border-radius-sm: 50.2rem;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

// Tables
$table-color: var(--dark-3, $asu-dark-3);
$table-accent-bg: var(--light-3, #e8e8e8);
$table-border-color: var(--light-4, $asu-light-4);

// Navbar
$navbar-light-color: var(--dark-3, $asu-dark-3);

// Pagination
$pagination-color: var(--dark-3, $asu-dark-3);
$pagination-border-color: var(--white, $white);
$pagination-hover-color: var(--dark-3, $asu-dark-3);
$pagination-hover-border-color: var(light-2, $asu-light-2);
$pagination-focus-box-shadow: var(--dark-3, $asu-dark-3);
$pagination-active-bg: var(--primary, $asu-maroon);
$pagination-active-border-color: var(--primary, $asu-maroon);
$pagination-disabled-color: var(--dark-2, $asu-dark-2);
$pagination-disabled-border-color: var(--white, $white);

// dropdown ( updated for new ver of bootstrap )
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;

// input forms
$input-padding-y: 16px;
$input-padding-x: 16px;
$input-height: 64px;
$input-focus-border-color: var(--light-4);
$input-focus-box-shadow: none;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$custom-select-border-radius: 0;
$custom-control-indicator-checked-bg: $asu-dark-3;
$custom-control-indicator-size: 1.1rem;

// tabs

$nav-tabs-border-color: $asu-light-4;
$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0px;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $asu-dark-3;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: $asu-gold;
